/*------------------------------------------------*/
/*	Skin: Orange
/*------------------------------------------------*/
/* general */
/* line 10, ../../../sass/skins/orange.scss */
a {
  color: #b64fff;
}
/* line 13, ../../../sass/skins/orange.scss */
a:hover, a:focus {
  color: #8536b5;
}

/* line 18, ../../../sass/skins/orange.scss */
.top-bar {
  background-color: #b13be2;
}
/* line 22, ../../../sass/skins/orange.scss */
.top-bar .top-bar-right .btn-link {
  color: #e191ff;
}
/* line 25, ../../../sass/skins/orange.scss */
.top-bar .top-bar-right .btn-link:hover {
  color: #fff;
}
/* line 32, ../../../sass/skins/orange.scss */
.top-bar .notifications .count {
  border-color: #b13be2;
}
/* line 38, ../../../sass/skins/orange.scss */
.top-bar .searchbox input[type="search"] {
  background-color: #642685;
  border-color: #642685;
}
/* line 43, ../../../sass/skins/orange.scss */
.top-bar .searchbox .btn {
  background-color: #832AA5;
  border-color: #642685;
}
/* line 47, ../../../sass/skins/orange.scss */
.top-bar .searchbox .btn i {
  color: #642685;
}
/* line 51, ../../../sass/skins/orange.scss */
.top-bar .searchbox .btn:hover {
  border-color: #642685;
}
/* line 54, ../../../sass/skins/orange.scss */
.top-bar .searchbox .btn:hover i {
  color: #44195d;
}

/* widget */
/* line 64, ../../../sass/skins/orange.scss */
.widget {
  border-color: #DB96FF;
}
/* line 67, ../../../sass/skins/orange.scss */
.widget .widget-header {
  background-color: #b13be2;
  border-bottom-color: #832AA5;
  color: #fff;
}
/* line 72, ../../../sass/skins/orange.scss */
.widget .widget-header em {
  color: #fff;
}
/* line 76, ../../../sass/skins/orange.scss */
.widget .widget-header .btn-help {
  color: #D3A0FF;
}
/* line 80, ../../../sass/skins/orange.scss */
.widget .widget-header .widget-header-toolbar {
  border-left-color: #C30DFF;
}
/* line 83, ../../../sass/skins/orange.scss */
.widget .widget-header .widget-header-toolbar .control-title {
  color: #fff;
}
/* line 88, ../../../sass/skins/orange.scss */
.widget .widget-header .btn-group > a {
  color: #fff;
}
/* line 91, ../../../sass/skins/orange.scss */
.widget .widget-header .btn-group > a:hover, .widget .widget-header .btn-group > a:focus {
  color: #F4BCFF;
}

/* main content */
/* line 100, ../../../sass/skins/orange.scss */
.main-header h2 {
  color: #b13be2;
  border-right-color: #DD73F8;
}
/* line 105, ../../../sass/skins/orange.scss */
.main-header em {
  color: #aa3aff;
}

/* footer */
/* line 111, ../../../sass/skins/orange.scss */
.footer {
  background-color: #b13be2;
}
