<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dalbit.content.dao.AppDao" >

    <sql id="appCondition">
        select
        idx
        , os
        , version
        , is_force
        , is_use
        , reg_date
        , op_name
        , @RNUM := @RNUM + 1 as rowNum
        from
        rd_admin.tb_app_version
        , (select @RNUM := 0) r
        where is_use = 1
        <if test = 'os != null and os != ""'>
            and os = #{os}
        </if>
        order by idx desc
    </sql>

    <select id="getAppVersionList" parameterType="com.dalbit.content.vo.AppVo" resultType="com.dalbit.content.vo.AppVo">
        /* App.xml - getAppVersionList */
        select *
        from (
          <include refid="appCondition"/>
        ) a
        limit  #{pageStart}, #{pageCnt}
    </select>

    <select id="getAppVersionListCnt" parameterType="com.dalbit.content.vo.AppVo" resultType="integer">
        /* App.xml - getAppVersionListCnt */
        select
          count(*)
          from (
        <include refid="appCondition"/>
          ) as tb
    </select>

    <select id="getListDetail" parameterType="com.dalbit.content.vo.AppVo" resultType="com.dalbit.content.vo.AppVo">
        /* App.xml - getListDetail */
        select
        os
        , version
        , is_force
        , is_use
        , reg_date
        from
        rd_admin.tb_app_version
        where is_use = 1
            <if test = 'idx != null and idx != ""'>
            and idx = #{idx}
            </if>
    </select>

    <insert id="addAppVersion" parameterType="com.dalbit.content.vo.AppVo">
        /* App.xml - addAppVersion */
        <selectKey keyProperty="idx" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert
        into
          rd_admin.tb_app_version (idx, os, version, is_force, is_use, reg_date, op_name)
        values
          (#{idx}, #{os}, #{version}, #{is_force}, #{is_use}, current_timestamp(), #{op_name})
    </insert>

    <update id="updateOs" parameterType="com.dalbit.content.vo.AppVo">
        update rd_admin.tb_app_version
        set is_use = 0
        where idx <![CDATA[ <> ]]> #{idx} and os = #{os}
    </update>

    <!--<update id="updateAppVersion" parameterType="com.dalbit.content.vo.AppVo">-->
        <!--/* App.xml - updateAppVersion */-->
        <!--update rd_admin.tb_app_version-->
        <!--set os = #{os}, version = #{version}, is_force = #{is_force}, is_use = #{is_use}, reg_date = current_timestamp()-->
        <!--where idx = #{idx}-->
    <!--</update>-->

    <!--<delete id="deleteAppVersion" parameterType="com.dalbit.content.vo.AppVo">-->
        <!--/* App.xml - deleteAppVersion */-->
        <!--delete from rd_admin.tb_app_version-->
        <!--where idx = #{idx}-->
    <!--</delete>-->

</mapper>