table.dataTable thead > tr > th {
    padding-left: 5px;
    padding-right: 5px;
}

.dataTables_length {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px; }

div.dataTables_info {
    padding-top: 0px;
}

.dataTables_info {
    float: right;
    margin-bottom: 5px;
    line-height: 2.7em;
}

.widget .widget-content{
    background: #FFFFFF;
    padding-top: 0px;
}

.widget-table {
    margin-bottom: 0px;
}

.dataTable-top > div{
    padding-top: 7px;
}

.dataTable-footer > div{
    padding-bottom: 7px;
}


/*DataTable Page Align*/
div.dataTables_paginate {
    float: none;
}
/*DataTable Page Text Align*/
.dataTables_paginate {
    text-align: center;
}

/* Page Disable 이벤트 비활성화 */
div.dataTables_paginate li.disabled {
    pointer-events: none;;
}

/*DataTable Header Align*/
table th {
    text-align: center;
    font-size: 12.5px;
    height: 30px;
    font-size: 12.5px !important;
    padding: 1.7px;
}

/*DataTable Row Align*/
table td {
    text-align: center;
    font-size: 12.5px;
    height: 30px;
    font-size: 12.5px !important;
    padding: 1.7px;
}

/*DataTable Column Align Right*/
table td.text-right {
    text-align: right;
}

/*DataTable Column Align Left*/
table td.text-left {
    text-align: left;
}

/*DataTable Column Align Center*/
table td.text-center {
    text-align: center;
}

.vertical-align{
    display: flex;
    align-items: stretch;
}

.select-time {
    width: 45px;
    height: 34px;
    margin-left: 3px;
}




.dataTables_wrapper {
    font-size: 12.5px;
}

.dataTables_wrapper .dataTable .thumbnail {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-radius: 2px;
}

.dataTables_wrapper .dataTable th{
    font-size: 12.5px !important;
    padding: 5px;
}

.dataTables_wrapper .dataTable td{
    text-align: center;
    height: 30px;
    font-size: 12.5px !important;
    padding: 1.7px;
}



.ar {
    text-align: right !important;
}
.ac {
    text-align: center !important;
}
.al {
    text-align: left !important;
}


table.borderBlack {
    border-color:black;
}

table.borderBlack tr th {
    border-color:black;
    color:black;
}

table.borderBlack tr td {
    border-color:black;
    color:black;
}

table.borderBlack tr td:last-child {
    border-right-width: 1px;
    border-right-color:black;
}

.break-word {
    word-break: break-word;
}

.bg-testMember{
    background-color: #dae3f3;
}

.font-shadow{
    color : #c70357;
}