/*
 * 달빛라디오 관리자 CSS
 */

/*left 통계현황*/
#_statisticsArea div.rowData{padding:5px 0 0px 10px; margin-right: 0px;/*border: 1px solid gray;*/}

.widget-table .widget-content .table-comment{
    float: left !important;
    padding: 10px 10px 10px 10px;
}

.widget-table .widget-content .table-option{
    float: right !important;
    padding: 10px 10px 10px 10px;
}