/*
 * 달빛라디오 관리자 CSS
 */

/*left 통계현황*/
#_statisticsArea div.rowData{padding:5px 0 0px 10px; margin-right: 0px;/*border: 1px solid gray;*/}

.container .clearfix div.topLogo a img{
    height : 30px;
}

div.searchBoxArea{
    margin-bottom: 10px;
    background-color: #eeeeee;
}

div.searchBoxArea .searchBoxRow{
    border-bottom-width:0px;
    margin:5px;
}

div.searchBoxArea .searchBoxRow h3.title{
    margin-right: 10px;
    font-weight: bold;
}

div.searchBoxArea .searchBoxRow div select.searchType{
    /*margin-left:10px;*/
    background:#ffffff;
}

.widget-table .widget-content .table-comment{
    float: left !important;
    padding: 10px 10px 10px 10px;
}

.widget-table .widget-content .table-option{
    float: right !important;
    padding: 10px 10px 10px 10px;
}

.nav-tabs li.tab_select{
    background-color: white;
    margin-right: 15px;
}

div.block{
    margin-top: 10px;
}

.lb_style{
    border: 1px solid #DDDDDD;
    background-color: #DCE6F2;
    height: 34px;
}
.area_style{
    height: 170px;
    padding-bottom: 5px;
}