/*
 * 달빛라디오 관리자 CSS
 */

/* margin 정리 */
.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}

.mb0{margin-bottom:0px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}

.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}

.mr0{margin-left:0px;}
.mr5{margin-left:5px;}
.mr10{margin-left:10px;}
.mr15{margin-left:15px;}

/*left 통계현황*/
.main-nav .main-menu li.page.active a{
    background-color: #8556F6 !important;
    color: #FFFFFF
}

.container .clearfix div.topLogo a img{
    height : 30px;
}

/*검색영역*/
div.searchBoxArea{
    margin-bottom: 10px;
    background-color: #eeeeee;
}

div.searchBoxArea .searchBoxRow{
    border-bottom-width:0px;
    margin:5px;
}

div.searchBoxArea .searchBoxRow h3.title{
    margin-right: 10px;
    font-weight: bold;
}

div.searchBoxArea .searchBoxRow div select.searchType{
    /*margin-left:10px;*/
    background:#ffffff;
}

table.table.table-summary{
    width: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

.widget-table .widget-content .table-comment{
    float: left !important;
    padding: 10px 10px 10px 10px;
}

.widget-table .widget-content .table-option{
    float: right !important;
    padding: 10px 10px 10px 10px;
}

#excelDownBtn{
    margin-bottom: 10px;
}

.nav-tabs li.tab_select{
    background-color: white;
    margin-right: 15px;
}

div.block{
    margin-top: 10px;
}

.lb_style{
    border: 1px solid #DDDDDD;
    background-color: #DCE6F2;
    height: 34px;
    padding-top: 5px;
    padding-left: 5px;
}
.area_style{
    height: 170px;
    padding-bottom: 5px;
}

table.table-dalbit tbody tr th {
    background-color: #DCE6F2;
    text-align: center;
}

table.table-dalbit tbody tr td {
    background-color: #FFFFFF;
    text-align: left;
}

table.table-dalbit tbody tr td .fit-table {
    width: 100%;
}

td._up {
    color : #ff3538;
}

td._down {
    color : #4747ff;
}

